<?xml version="1.0" ?>
<robot name="bravo_7_example" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find falcon_bravo_description)/urdf/bravo_7.urdf.xacro"/>
    <link name="world"/>

    <xacro:bravo_7_ft parent="world" name="bravo_7_ft">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:bravo_7_ft>
</robot>

